@import "reset/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "styles/variables.scss";
@import "styles/footer.scss";
@import "styles/animation.scss";

// Partie du loader

.loader {

    height: 100vh;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Primaire;
    z-index: 1;
    inset: 0;
    animation: loading 3s forwards;
    


        .logo {
            text-align: center;
            font-family: $Titres;
            font-size: 40px;
            color: $Secondaire;
            padding-right: 20px;
        }

}

.iconLoader {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid $Secondaire;
        width: 5rem;
        height: 5rem;
        border-radius: 3rem;
        border-top: 6px solid transparent;
        animation: spin 5s infinite linear;
        color: $Secondaire;

}



//  Partie du Header

header {

    .imageHeader {

        @extend %displayFlexCenter;
            
         img {
             padding: 4% 0;
             width: 40%;
                
        }  
     }    
       
}

// Partie localisation avec Paris, Belleville

.parentLocalisation {

    @extend %displayFlexCenter;
    width: 100%;
    padding: 5% 0% ;
    background-color: $GrisClaireLocal;
    box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.09);

        .logoLocal {
            padding-right: 4%;
            margin-left: -6%;
        }

        .texteLocal {
            font-weight: bold;
            font-family: $Texte;
        }
}

// Partie Exploration Restaurant 

.parentReservation {
    height: auto;
    padding-top: 8%;
    padding-bottom: 17%;
    text-align: center;
    background-color: rgb(246, 246, 246);

        .titreReservation {
            padding: 2% 16%;
            font-size: 15px;
            font-weight: 900;
            font-family: $Texte;
        }
        .infoReservation {
            font-family: $Texte;
            padding: 1% 4%;
        }

        .parentBoutonExplorer {
            margin-top: 12%;
            
                .boutonExplorer {
                    background: radial-gradient(at -90% -100%, $Secondaire 50%, $Primaire 100%);
                    padding: 4.5% 6%;
                    margin-top: 5%;
                    border-radius: 33px;
                    font-family: $Texte;
                    text-decoration: none;
                    color: #FFF;

                }
        }
            
}

// Partie Fonctionnement


.titreFonctionnement {

    font-family: $Texte;
    padding: 9% 5%;

}

.boutonFonctionnement{
 
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(246, 246, 246);
    width: 85%;
    height: 4.5rem;
    border-radius: 1.2rem;
    box-shadow: $ShadowFonctionnement;
    margin-bottom: 5%;
    &:hover {
        background-color: #f5edff;
        i {
            color: $Primaire;
        }
    }

            .numeroFonctionnement {
                
                @extend %displayFlexCenter;
                border-radius: 50%;
                margin-left: -0.6rem;
                width: 1.5rem;
                height: 1.5rem;
                background-color: $Primaire;
                font-family: $Texte;
                color: #FFF;

            
            }
        
            .logoFonctionnement {

                width: 60px;
                padding: 0 8% 0 6%;
                color: gray;

            }

            .texteFonctionnement {

                width: 76%; 
                font-family: $Texte;
                font-weight: bold;


            }
}




//  Partie Restaurants

.parentRestaurants {
    
    background-color: rgb(243, 242, 242);
    padding-bottom: 2%;
    margin-top: 20%;

            h2 {

                font-size: 1.36rem ;
                font-weight: 900;
                font-family: $Texte;
                padding: 10% 0% 3% 4%;

            }
}

article {

    
    width: 90%;
    margin:3% auto 4% auto;
    background-color: #FFF;
    border-radius: 1rem;
  
    

        a{

            text-decoration: none;
            color: #000;
        }
}

.restaurant {

    box-shadow: $ShadowFonctionnement;
    

}


.parentNotifImage {

    
    width: 100%;
    margin: auto;


        .notifNouveau {
            
            @extend %notif
            

        }

}

.notifNouveau2 {

    @extend %notif;
}

.parentDetailsVignette {

    
    width: 100%;
    margin: auto;
    padding: 3% 0% 4% 4%;
    font-family: $Texte;

          

}

.TitreIcon {
    display: flex;
    align-items: center;

        .titreVignette {
            
            width: 85%;
            padding-bottom: 1%;
    
        }

        .iconeCoeur {
            
            font-size: x-large;
           
                i {
                    position: absolute;
                    margin-top: -5px;
                }
        }
}

// Animation Coeur

.iconeCoeur {

    .fa-solid {

        background: linear-gradient($Primaire, $Secondaire);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 400ms;
       
            &:hover {
               
                opacity: 1;
            
                
            }
    
    }

}


// Partie Image


.imagePaletteDuGout {

    background-image: url(images/palette.jpg);
    background-size:  cover;
    background-position: 0px -40px;
    @extend %ImageStyle;
    
}

.imageNoteEnchantee {

    background-image: url(images/note.jpg);
    background-size:  cover;
    background-position: 0px -50px;
    @extend %ImageStyle;
}

.imageAlaFrancaise {

    background-image: url(images/francaise.jpg);
    background-size:  cover;
    background-position: 0px -50px;
    @extend %ImageStyle;
}

.imageDeliceDesSens {

    background-image: url(images/delice.jpg);
    background-size:  cover;
    background-position: 0px -50px;
    @extend %ImageStyle;
}



//  Media queries Tablette

@media (min-width : $width1 ) and (max-width : $width2){

// Media queries tablette Logo header 

    header {

        .imageHeader {
    
            @extend %displayFlexCenter;
                
             img {
                 padding: 4% 0;
                 width: 20%;
                    
            }  
         }    
           
    }

// Media queries tablette Partie localisation avec Paris, Belleville

    .LocalReserv {

        width: 80%;
        margin: auto;

        .parentLocalisation {

            border-radius: 45px 45px 0 0;
        }

        .parentReservation {

            border-radius: 0 0 45px 45px;

        }
}

// Media queries tablette Partie Fonctionnement

    .parentFonctionnement {

        width: 80%;
        margin: auto;
        padding-bottom: 5%;

            .titreFonctionnement {

                text-align: center;

    }

}

    .boutonFonctionnement {

        width: 60%;

            .texteFonctionnement {

                
                text-align: center;

            }
    }


//  Media queries Tablette Partie Restaurants

.parentRestaurants {

    margin-top: 6%;

            h2 {

                font-size: 1.6rem ;
                padding: 5% 0 3% 0;
                text-align: center;

            }
}

article {

    
    width: 70%;
   
}


.parentNotifImage {

        .notifNouveau {
            
            padding: 1.8% 3%;
            position: absolute;
            margin-top: 0.8rem;
            right: 17%;
            background-color: #99e2d0;
            color: #008766;
            font-family: $Texte;
            font-weight: 500;
            border-radius: 3px;
            

        }

}

.notifNouveau2 {

    right: 17%;
}

// Media queries tablette Partie Image


.imagePaletteDuGout {

    
    background-position: center;
    
    
}

.imageNoteEnchantee {

    background-position: center;
}

.imageAlaFrancaise {

    background-position: center;
}

.imageDeliceDesSens {

    background-position: center;
}


}

// Media queries Desktop

@media (min-width : $width2 ) {
 
    // Media queries Desktop Logo header 

    header {

        .imageHeader {
    
             img {
                 padding: 2% 0;
                 width: 10%;
                    
            }  
         }    
           
    }

// Media queries Desktop Partie parent localisation et fonctionnement 

    .parentLocalFonct {
        display: flex;
    }

    // Media queries Desktop Partie localisation avec Paris, Belleville

    .LocalReserv {

        width: 37%;
        margin:auto;
        
        

        .parentLocalisation {

            border-radius: 45px 45px 0 0;
        }

        .parentReservation {

            border-radius: 0 0 45px 45px;

        }
}

// Media queries Desktop Partie Fonctionnement



    .parentFonctionnement {

        width: 40%;
        margin: auto;
        padding-bottom: 2%;

            .titreFonctionnement {

                text-align: center;

    }

}

    .boutonFonctionnement {

        width: 60%;
        


            .logoFonctionnement {
                width: 30px;
            }
          
            .texteFonctionnement {

                
                text-align: center;

            }
    }



    //  Media queries Desktop Partie Restaurants

    .parentRestaurants {

     margin-top: 5%;

                h2 {

                    font-size: 1.6rem ;
                    padding: 2% 0 0% 0;
                    text-align: center;

                }
                
    }

    .parentArticle {

        display: flex;
        flex-wrap: wrap;

        article {

        
            width: 20%;

        
        }

    }
    


    .parentNotifImage {

            .notifNouveau {
                
                padding: 0.6% 1%;
                right: 78%;

            }

    }

    .notifNouveau2 {
        padding: 0.6% 1%;
        right: 53%;
    }

    // Media queries Desktop Partie Image


    .imagePaletteDuGout {

        
        background-position: center;
        
        
    }

    .imageNoteEnchantee {

        background-position: center;
    }

    .imageAlaFrancaise {

        background-position: center;
    }

    .imageDeliceDesSens {

        background-position: center;
    }

    // Media queries desktop Partie Footer

    footer {

        padding-bottom: 2%;
            .logoFooter {
    
                padding: 3% 2%;
                font-size: 22px;
                text-align: center;

            }
    }


    .liste {
        width: 100%;
        
    }
    
    li {
    
        margin-left: 45%;

            a {
                
                font-size: 17px;
                
            }
    
    }
    
    
}

