@import "reset/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

//  Variables
$Primaire :#9356DC;
$Secondaire:#FF79DA;
$Tertiare:#99E2D0;
$GrisClaireLocal:rgb(234, 234, 234);
$ShadowTop:-1px -6px 9px 2px rgba(0,0,0,0.49);
$ShadowFonctionnement :0px 13px 17px -8px rgba(150,150,150,0.29);
$ShadowRestaurant :0px 13px 17px -8px rgba(0, 0, 0, 0.29);
$Titres: 'Shrikhand', cursive;
$Texte: 'Roboto', sans-serif;

// Heritage @extend 

%displayFlexCenter {

    display : flex ;
    justify-content: center;
    align-items: center;
    
}

// Heritage @extend - Partie Fonctionnement

%BoutonFonctionnement {

    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(246, 246, 246);
    width: 85%;
    height: 4.5rem;
    border-radius: 1.2rem;
    box-shadow: $ShadowFonctionnement;
    margin-bottom: 5%;

}

%NumeroFonctionnement {

    border-radius: 50%;
    margin-left: -0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $Primaire;
    font-family: $Texte;
    color: #FFF;

}

%LogoFonctionnement {

    width: 60px;
    padding: 0 8% 0 6%;
    color: gray;

}

%TexteBoutonFonctionnement {

    width: 76%;
    
    font-family: $Texte;
    font-weight: bold;

}

// Heritage @extend - Partie restaurant



%ImageStyle {

    background-repeat: no-repeat;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;

}

//  Partie du Header

header {

    .imageHeader {

        @extend %displayFlexCenter;
            
         img {
             padding: 4% 0;
             width: 40%;
                
        }  
     }    
       
}

// Partie localisation avec Paris, Belleville

.parentLocalisation {

    @extend %displayFlexCenter;
    width: 100%;
    padding: 5% 0% ;
    background-color: $GrisClaireLocal;
    box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.09);

        .logoLocal {
            padding-right: 4%;
            margin-left: -6%;
        }

        .texteLocal {
            font-weight: bold;
            font-family: $Texte;
        }
}

// Partie Exploration Restaurant 

.parentReservation {
    height: auto;
    padding-top: 8%;
    padding-bottom: 17%;
    text-align: center;
    background-color: rgb(246, 246, 246);

        .titreReservation {
            padding: 2% 16%;
            font-size: 15px;
            font-weight: 900;
            font-family: $Texte;
        }
        .infoReservation {
            font-family: $Texte;
            padding: 1% 4%;
        }

        .parentBoutonExplorer {
            margin-top: 12%;
            
                .boutonExplorer {
                    background: radial-gradient(at -90% -100%, $Secondaire 50%, $Primaire 100%);
                    padding: 4.5% 6%;
                    margin-top: 5%;
                    border-radius: 33px;
                    font-family: $Texte;
                    text-decoration: none;
                    color: #FFF;

                }
        }
            
}

// Partie Fonctionnement


.titreFonctionnement {

    font-family: $Texte;
    padding: 9% 5%;

}

.boutonChoisir{

        @extend %BoutonFonctionnement;

            .numeroChoisir {
                
                @extend %displayFlexCenter;
                @extend %NumeroFonctionnement;

            
            }
        
            .logoChoisir {

            @extend %LogoFonctionnement;

            }

            .texteChoisir {

                @extend %TexteBoutonFonctionnement;

            }
}


.boutonComposer {

        @extend %BoutonFonctionnement;

            .numeroComposer {

                @extend %displayFlexCenter;
                @extend %NumeroFonctionnement;

            }

            .logoComposer {

                @extend %LogoFonctionnement;

            }


            .texteComposer {

                @extend %TexteBoutonFonctionnement;

            }
}

.boutonDeguster {

        @extend %BoutonFonctionnement;

            .numeroDeguster {

                @extend %displayFlexCenter;
                @extend %NumeroFonctionnement;
            }

            .logoDeguster {

                @extend %LogoFonctionnement;

            }


            .texteDeguster {

                @extend %TexteBoutonFonctionnement;

            }

}

.parentRestaurants {
    
    background-color: rgb(243, 242, 242);

            h2 {

                font-size: 1.36rem ;
                font-weight: 900;
                font-family: $Texte;
                padding: 10% 0% 3% 4%;

            }
}

article {

    
    width: 90%;
    margin:3% auto 4% auto;
    background-color: #FFF;
    border-radius: 1rem;
  
    

        a{

            text-decoration: none;
            color: #000;
        }
}

.restaurant {

    box-shadow: $ShadowFonctionnement;
    

}


.parentNotifImage {

    height: 100%;
    width: 100%;
    margin: auto;


        .notifNouveau {
            
            padding: 1.8% 3%;
            position: absolute;
            margin-top: 0.8rem;
            right: 8%;
            background-color: #99e2d0;
            color: #008766;
            font-family: $Texte;
            font-weight: 500;
            border-radius: 3px;
            

        }

}

.parentDetailsVignette {

    
    width: 100%;
    margin: auto;
    padding: 3% 0% 4% 4%;
    font-family: $Texte;

          

}

.TitreIcon {
    display: flex;
    align-items: center;

        .titreVignette {
            
            width: 85%;
    
        }

        .iconeCoeur {
            
            font-size: x-large;
            
        }
}

.imagePaletteDuGout {

    background-image: url(images/palette.jpg);
    background-size: 100% 135%;
    background-position-y: -4rem;
    @extend %ImageStyle;
    
}

.imageNoteEnchantee {

    background-image: url(images/note.jpg);
    background-size: 100% 250%;
    background-position-y: -11rem;
    @extend %ImageStyle;
}

.imageAlaFrancaise {

    background-image: url(images/francaise.jpg);
    background-size: 100% 125%;
    background-position-y: -3rem;
    @extend %ImageStyle;
}

.imageDeliceDesSens {

    background-image: url(images/delice.jpg);
    background-size: 100% 125%;
    background-position-y: -3rem;
    @extend %ImageStyle;
}

//  Partie Footer

footer {

    background-color: #353535;
    height: 100%;
    padding-bottom: 5%;

        .logoFooter {

            font-family: $Titres;
            font-size: 16px;
            color: #FFF;
            padding: 5% 5%;
        }
}

.liste {
    width: 90%;
    margin: auto;
}

li {

    margin-bottom: 1%;

        a {
            font-family: $Texte;
            font-size: 14px;
            color: #FFF;
            text-decoration: none;
            
            
        }

}

.iconeLien {

    display: flex;
    align-items: center;
    color: #FFF;
    
    

        .iconeFooter {
            font-size: x-small;
            padding-right: 2.5%;
        }

        .iconeFooterDevenir {

            font-size: xx-small;
            padding-right: 2%;
        }

        .lienFooter {
            width: 70%;
        }

}
