/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.menuDesserts h2, .menuPlats h2, .menuEntrees h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0 1% 5%;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes mymove {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shadowNone {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 13px 17px -8px rgba(150, 150, 150, 0.29);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.pop {
  animation: mymove 1s;
}

.delais1 {
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delais2 {
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delais3 {
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delais4 {
  animation-delay: 350ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

footer {
  background-color: #353535;
  padding-bottom: 5%;
}
footer .logoFooter {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  color: #FFF;
  padding: 5% 5%;
}

.liste {
  width: 90%;
  margin: auto;
}

li {
  margin-bottom: 1%;
}
li a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

.iconeLien {
  display: flex;
  align-items: center;
  color: #FFF;
}
.iconeLien .iconeFooter {
  font-size: x-small;
  padding-right: 2.5%;
}
.iconeLien .iconeFooterDevenir {
  font-size: xx-small;
  padding-right: 2%;
}
.iconeLien .lienFooter {
  width: 70%;
}

@media (min-width: 968px) {
  footer {
    padding-bottom: 2%;
  }
  footer .logoFooter {
    padding: 3% 2%;
    font-size: 22px;
    text-align: center;
  }
  .liste {
    width: 100%;
  }
  li {
    margin-left: 45%;
  }
  li a {
    font-size: 17px;
  }
}
article:nth-child(1) {
  animation-delay: 1s;
}

.flecheImage {
  display: flex;
  align-items: center;
}
.flecheImage a {
  font-size: 19px;
  margin-left: 160%;
}
.flecheImage img {
  margin: auto;
  padding: 5% 0 4% 0;
  width: 40%;
}

main img {
  width: 100%;
}

.menu {
  width: 100%;
  padding-bottom: 13%;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -58px;
  background-color: rgb(243, 242, 242);
}

.titreIcon {
  display: flex;
  align-items: center;
}
.titreIcon h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 6% 5%;
  width: 83%;
}
.titreIcon .iconCoeur {
  font-size: 1.8rem;
}
.titreIcon .iconCoeur i {
  position: absolute;
  margin-top: -10px;
}

.iconCoeur .fa-solid {
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 400ms;
}
.iconCoeur .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
}

.menuPlats h2 {
  padding-top: 7%;
}

.menuDesserts h2 {
  padding-top: 7%;
}

.bordureBas {
  width: 2.5rem;
  margin: 0 0 5% 5%;
  border-bottom: 3px solid #99e2d0;
}

article {
  width: 92%;
  height: 4.4rem;
  margin: auto;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
  border-radius: 1.1rem;
  position: relative;
  overflow: hidden;
  border-radius: 1.1rem;
  box-shadow: 0px 13px 17px -8px rgba(150, 150, 150, 0.29);
  animation: shadowNone 0.5s;
}

.articleEnfant {
  display: flex;
  background-color: #FFF;
  padding-bottom: 6%;
  padding-left: 3%;
}
.articleEnfant:hover .animationArticle {
  margin-right: 0;
  overflow: visible;
}
.articleEnfant:hover .fa-solid {
  animation: rotate 0.6s;
}
.articleEnfant .prix {
  padding-right: 8%;
  margin-left: auto;
  font-weight: bold;
  margin-top: auto;
  padding-bottom: 3%;
}

.animationArticle {
  width: 5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99e2d0;
  overflow: hidden;
  margin-right: -5rem;
  transition: 0.5s;
}
.animationArticle i {
  background-color: #FFF;
  color: #99e2d0;
  width: 25px;
  height: 25px;
  display: grid;
  align-content: center;
  border-radius: 50%;
}

.detailsTitre {
  width: 87%;
  display: flex;
  flex-direction: column;
  padding: 4% 9% 4% 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detailsTitre .details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  margin-top: 1%;
}
.detailsTitre h3 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.test {
  display: flex;
}

.bouttonCommander {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.bouttonCommander a {
  background: radial-gradient(at -90% -100%, #FF79DA 50%, #9356DC 100%);
  padding: 4.5% 12%;
  border-radius: 33px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFF;
}

footer {
  margin-top: -58px;
}

@media (min-width: 768px) {
  .flecheImage img {
    padding: 2% 0;
    width: 20%;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main img {
    border-radius: 30px 30px 0 0;
    height: 400px;
  }
  article {
    width: 80%;
    height: 4.4rem;
    margin: auto;
    margin-bottom: 3%;
  }
  .detailsTitre {
    padding-top: 2.4%;
    padding-bottom: 2%;
  }
  .bouttonCommander a {
    font-size: larger;
  }
}
@media (min-width: 968px) {
  .flecheImage img {
    padding: 2% 0;
    width: 10%;
  }
  main {
    width: 100%;
    margin: auto;
    background-color: lightgray;
  }
  main img {
    border-radius: 0;
    height: 600px;
    object-fit: cover;
  }
  .titreIcon h1 {
    padding-left: 11%;
    width: 75%;
  }
  .iconCoeur {
    margin-left: 11%;
  }
  .menu {
    width: 90%;
    margin: auto;
    top: 0;
    padding-bottom: 7%;
  }
  .menu .menuEntrees {
    width: 30%;
  }
  .menu .menuEntrees h2 {
    font-size: larger;
    padding-left: 19%;
  }
  .menu .menuPlats {
    width: 30%;
  }
  .menu .menuPlats h2 {
    font-size: larger;
    padding-left: 19%;
    padding-top: 0;
  }
  .menu .menuDesserts {
    width: 30%;
  }
  .menu .menuDesserts h2 {
    font-size: larger;
    padding-left: 19%;
    padding-top: 0;
  }
  .carte {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .bouttonCommander {
    margin-top: 5%;
  }
  .bouttonCommander a {
    padding: 2% 3.5%;
  }
  .bordureBas {
    margin-left: 19%;
  }
  article {
    height: auto;
    margin-top: 4%;
    width: 65%;
    height: 4.4rem;
    margin: auto;
    margin-bottom: 3%;
  }
  .animationArticle {
    height: 4.5rem;
    margin-right: -5rem;
  }
  .detailsTitre {
    padding-top: 2.3%;
    padding-bottom: 2%;
  }
  footer {
    margin-top: 0;
  }
}

/*# sourceMappingURL=menuStyles.css.map */
