/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.boutonDeguster .numeroDeguster, .boutonComposer .numeroComposer, .boutonChoisir .numeroChoisir, .parentLocalisation, header .imageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boutonDeguster, .boutonComposer, .boutonChoisir {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: rgb(246, 246, 246);
  width: 85%;
  height: 4.5rem;
  border-radius: 1.2rem;
  box-shadow: 0px 13px 17px -8px rgba(150, 150, 150, 0.29);
  margin-bottom: 5%;
}

.boutonDeguster .numeroDeguster, .boutonComposer .numeroComposer, .boutonChoisir .numeroChoisir {
  border-radius: 50%;
  margin-left: -0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  color: #FFF;
}

.boutonDeguster .logoDeguster, .boutonComposer .logoComposer, .boutonChoisir .logoChoisir {
  width: 60px;
  padding: 0 8% 0 6%;
  color: gray;
}

.boutonDeguster .texteDeguster, .boutonComposer .texteComposer, .boutonChoisir .texteChoisir {
  width: 76%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.imageDeliceDesSens, .imageAlaFrancaise, .imageNoteEnchantee, .imagePaletteDuGout {
  background-repeat: no-repeat;
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
}

header .imageHeader img {
  padding: 4% 0;
  width: 40%;
}

.parentLocalisation {
  width: 100%;
  padding: 5% 0%;
  background-color: rgb(234, 234, 234);
  box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.09);
}
.parentLocalisation .logoLocal {
  padding-right: 4%;
  margin-left: -6%;
}
.parentLocalisation .texteLocal {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.parentReservation {
  height: auto;
  padding-top: 8%;
  padding-bottom: 17%;
  text-align: center;
  background-color: rgb(246, 246, 246);
}
.parentReservation .titreReservation {
  padding: 2% 16%;
  font-size: 15px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.parentReservation .infoReservation {
  font-family: "Roboto", sans-serif;
  padding: 1% 4%;
}
.parentReservation .parentBoutonExplorer {
  margin-top: 12%;
}
.parentReservation .parentBoutonExplorer .boutonExplorer {
  background: radial-gradient(at -90% -100%, #FF79DA 50%, #9356DC 100%);
  padding: 4.5% 6%;
  margin-top: 5%;
  border-radius: 33px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFF;
}

.titreFonctionnement {
  font-family: "Roboto", sans-serif;
  padding: 9% 5%;
}

.parentRestaurants {
  background-color: rgb(243, 242, 242);
}
.parentRestaurants h2 {
  font-size: 1.36rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding: 10% 0% 3% 4%;
}

article {
  width: 90%;
  margin: 3% auto 4% auto;
  background-color: #FFF;
  border-radius: 1rem;
}
article a {
  text-decoration: none;
  color: #000;
}

.restaurant {
  box-shadow: 0px 13px 17px -8px rgba(150, 150, 150, 0.29);
}

.parentNotifImage {
  height: 100%;
  width: 100%;
  margin: auto;
}
.parentNotifImage .notifNouveau {
  padding: 1.8% 3%;
  position: absolute;
  margin-top: 0.8rem;
  right: 8%;
  background-color: #99e2d0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 3px;
}

.parentDetailsVignette {
  width: 100%;
  margin: auto;
  padding: 3% 0% 4% 4%;
  font-family: "Roboto", sans-serif;
}

.TitreIcon {
  display: flex;
  align-items: center;
}
.TitreIcon .titreVignette {
  width: 85%;
}
.TitreIcon .iconeCoeur {
  font-size: x-large;
}

.imagePaletteDuGout {
  background-image: url(images/palette.jpg);
  background-size: 100% 135%;
  background-position-y: -4rem;
}

.imageNoteEnchantee {
  background-image: url(images/note.jpg);
  background-size: 100% 250%;
  background-position-y: -11rem;
}

.imageAlaFrancaise {
  background-image: url(images/francaise.jpg);
  background-size: 100% 125%;
  background-position-y: -3rem;
}

.imageDeliceDesSens {
  background-image: url(images/delice.jpg);
  background-size: 100% 125%;
  background-position-y: -3rem;
}

footer {
  background-color: #353535;
  height: 100%;
  padding-bottom: 5%;
}
footer .logoFooter {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  color: #FFF;
  padding: 5% 5%;
}

.liste {
  width: 90%;
  margin: auto;
}

li {
  margin-bottom: 1%;
}
li a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

.iconeLien {
  display: flex;
  align-items: center;
  color: #FFF;
}
.iconeLien .iconeFooter {
  font-size: x-small;
  padding-right: 2.5%;
}
.iconeLien .iconeFooterDevenir {
  font-size: xx-small;
  padding-right: 2%;
}
.iconeLien .lienFooter {
  width: 70%;
}

/*# sourceMappingURL=styles.css.map */
